.col-md-3 {
	margin-bottom: 20px;
}

.form-check {
	padding-left: 4.8px;
}

.form-check-input {
	margin-left: 0;
}

.heading {
	height: 45px;
}

.heading h2 {
	position: absolute;
	top: 7px;
	left: 15px;
}

.delete form {
	width: 13%;
	position: absolute;
	top: 7px;
	right: 15px;
}

.add form {
	position: absolute;
	top: 7px;
	right: 15px;
}

.input-group .form-control:nth-child(1) {
	padding-left: 10px;
}

.type-content {
    display: block;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#delete .custom-select {
	width: 72%;
	padding: .375rem 0.75rem .375rem .75rem;
}

#delete button.btn.btn-secondary {
    float: right;
}